.fundo-1{
  background-image:url('/assets/img/auth/trader-3.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.fundo-2{
  //background-image:url('/assets/img/auth/trader-3.jpg');
  background-color: white;
  background-size: auto;
}

.fundo-3{
  background-image:url('/assets/img/auth/trader-3.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.fundo-4{
  background-image:url('/assets/img/auth/trader-3.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
